Repository wasabeef/emu: changes, and which lefthook commands are due for each by the changed paths.
All: format, clippy

format:
  run: bun run format
  stage_fixed: true

clippy:
  run: bun run lint

fix: add get_device_details stub for non-macOS platforms
  src/managers/ios.rs
Due: format, clippy

fix: stop timer task on install completion to prevent stale progress updates
  src/managers/android.rs
Due: format, clippy

fix: show 100% progress on install completion and prevent stale overwrites
  src/app/mod.rs
  src/constants/messages.rs
  src/ui/render.rs
Due: format, clippy

refactor: add is_busy() to ApiLevelManagementState to centralize busy check
  src/app/mod.rs
  src/app/state.rs
  src/ui/render.rs
Due: format, clippy

chore: update dependencies to latest compatible versions
  Cargo.lock
Due: none

chore: set default-run to emu in Cargo.toml
  Cargo.toml
Due: format

style: fix uninlined_format_args clippy warnings across codebase
  src/main.rs
  src/managers/android.rs
  src/managers/ios.rs
  src/managers/mock.rs
  tests/common/assertions.rs
  tests/fixtures/command_utility_fixture_test.rs
  tests/fixtures/fixture_loader.rs
Due: format, clippy

test: relax cache performance threshold from 300ms to 500ms for CI stability
  tests/performance/memory_usage_test.rs
Due: format, clippy

chore: add PostToolUse hook to run cargo check after editing .rs files
  .claude/settings.json
Due: format

docs: slim down CLAUDE.md and remove stale SESSION_HANDOFF.md
  CLAUDE.md
  docs/SESSION_HANDOFF.md
Due: format

chore: bump version to 1.1.1
  Cargo.lock
  Cargo.toml
Due: format

refactor: add predicate methods to AppState and DeviceStatus
  src/app/state.rs
  src/models/device.rs
Due: format, clippy

test: create tests/support/ infrastructure
  tests/support/assertions.rs
  tests/support/contract.rs
  tests/support/devices.rs
  tests/support/fixtures.rs
  tests/support/managers.rs
  tests/support/mod.rs
  tests/support/state.rs
Due: format, clippy

test: remove 25 empty placeholder test files and 2 .bak files
  tests/integration/api_integration_test.rs
  tests/integration/cloud_sync_test.rs
  tests/integration/config_migration_test.rs
  tests/integration/export_import_test.rs
  tests/integration/hotkey_system_test.rs
  tests/integration/mod.rs
  tests/integration/multi_user_test.rs
  tests/integration/network_test.rs
  tests/integration/plugin_system_test.rs
  tests/integration/remote_control_test.rs
  tests/integration/snapshot_test.rs
  tests/performance/animation_smoothness_test.rs
  tests/performance/battery_usage_test.rs
  tests/performance/concurrent_operations_test.rs
  tests/performance/cpu_usage_test.rs
  tests/performance/large_dataset_test.rs
  tests/performance/memory_leak_test.rs
  tests/performance/mod.rs
  tests/performance/network_latency_test.rs
  tests/unit/accessibility_test.rs
  tests/unit/analytics_test.rs
  tests/unit/crash_reporter_test.rs
  tests/unit/localization_test.rs
  tests/unit/notification_system_test.rs
  tests/unit/security_test.rs
  tests/unit/telemetry_test.rs
  tests/unit/update_checker_test.rs
Due: format, clippy

test: remove constants tests, keep 12 invariants inline
  src/constants/defaults.rs
  src/constants/patterns.rs
  tests/integration/constants_test.rs
  tests/integration/mod.rs
  tests/unit/constants/defaults_coverage_test.rs
  tests/unit/constants/defaults_test.rs
  tests/unit/constants/documentation_test.rs
  tests/unit/constants/mod.rs
  tests/unit/constants/mod_test.rs
  tests/unit/constants/patterns_coverage_test.rs
  tests/unit/constants/patterns_test.rs
  tests/unit/constants/simple_coverage_test.rs
  tests/unit/constants/usage_coverage_test.rs
  tests/unit/constants/validation_test.rs
  tests/unit/mod.rs
Due: format, clippy

test: move unit tests inline, remove duplicates
  src/app/state.rs
  tests/unit/app/event_processing_test.rs
  tests/unit/app/events_test.rs
  tests/unit/app/mod.rs
  tests/unit/app/mod_test.rs
  tests/unit/app/state_test.rs
  tests/unit/models/device_test.rs
  tests/unit/models/device_validation_test.rs
  tests/unit/models/error_test.rs
  tests/unit/models/mod.rs
  tests/unit/utils/command_test.rs
  tests/unit/utils/mod.rs
  tests/unit/utils/non_utf8_path_test.rs
  tests/unit/utils/validation_test.rs
Due: format, clippy

test: remove empty unit test directories
  tests/unit/app/mod.rs
  tests/unit/mod.rs
  tests/unit/models/mod.rs
  tests/unit/utils/mod.rs
Due: format, clippy

docs: add test refactoring plan document
  docs/TEST_REFACTORING.md
Due: format

docs: update test counts and testing guide for refactored structure
  CLAUDE.md
  README.md
  docs/TESTING.md
Due: format

Revert "docs: add test refactoring plan document"
  docs/TEST_REFACTORING.md
Due: format

test: add smoke tests for tests/support/ infrastructure
  tests/support/managers.rs
  tests/support/mod.rs
  tests/support_smoke_test.rs
Due: format, clippy

style: fix formatting in support modules
  tests/support/assertions.rs
  tests/support/fixtures.rs
Due: format, clippy

docs: rewrite tests/README.md in English
  tests/README.md
Due: format

test: strengthen characterization and performance stability
  src/app/mod.rs
  tests/app_state_test.rs
  tests/app_test.rs
  tests/common/mod.rs
  tests/performance/app_mod_test.rs
  tests/performance/input_responsiveness_test.rs
  tests/performance/memory_usage_test.rs
  tests/performance/responsiveness_validation_test.rs
  tests/performance/startup_benchmark_test.rs
  tests/performance/ui_responsiveness_test.rs
Due: format, clippy

fix: decouple startup device loading
  src/app/mod.rs
Due: format, clippy

refactor: split app coordination modules
  docs/refactoring-plan-2026-04-11.md
  src/app/background.rs
  src/app/create_device.rs
  src/app/details.rs
  src/app/device_actions.rs
  src/app/input.rs
  src/app/logs.rs
  src/app/mod.rs
  src/app/refresh.rs
  src/app/state.rs
  src/app/state/api_levels.rs
  src/app/state/cache.rs
  src/app/state/details.rs
  src/app/state/forms.rs
  src/app/state/mod.rs
  src/app/state/navigation.rs
  src/app/state/notifications.rs
  src/managers/android.rs
  src/managers/ios.rs
  src/models/details.rs
  src/models/mod.rs
  src/ui/render.rs
  src/utils/cache.rs
  src/utils/mod.rs
  tests/app_state_test.rs
  tests/integration/comprehensive_test.rs
  tests/integration/device_lifecycle_test.rs
  tests/integration/device_operations_test.rs
  tests/integration/panel_switching_test.rs
  tests/integration/platform_switching_test.rs
  tests/ios_manager_test.rs
Due: format, clippy

refactor: split android manager module
  AGENTS.md
  src/managers/android/mod.rs
  src/managers/android/parser.rs
  src/managers/android/version.rs
Due: format, clippy

fix: prefer explicit android api levels over guesses
  docs/refactoring-plan-2026-04-11.md
  src/managers/android/mod.rs
  src/managers/android/version.rs
Due: format, clippy

refactor: extract android sdk discovery helpers
  src/managers/android/mod.rs
  src/managers/android/sdk.rs
Due: format, clippy

fix: keep ambiguous android versions unknown
  docs/refactoring-plan-2026-04-11.md
  src/managers/android/mod.rs
  src/managers/android/version.rs
Due: format, clippy

refactor: extract android details helpers
  src/managers/android/details.rs
  src/managers/android/mod.rs
Due: format, clippy

refactor: extract android creation helpers
  src/managers/android/create.rs
  src/managers/android/mod.rs
Due: format, clippy

refactor: extract android install helpers
  src/managers/android/install.rs
  src/managers/android/mod.rs
Due: format, clippy

refactor: extract android discovery helpers
  AGENTS.md
  CLAUDE.md
  docs/refactoring-plan-2026-04-11.md
  src/managers/android/discovery.rs
  src/managers/android/mod.rs
Due: format, clippy

refactor: extract android lifecycle helpers
  AGENTS.md
  CLAUDE.md
  docs/refactoring-plan-2026-04-11.md
  src/managers/android/lifecycle.rs
  src/managers/android/mod.rs
Due: format, clippy

refactor: convert ios manager to module directory
  AGENTS.md
  CLAUDE.md
  docs/refactoring-plan-2026-04-11.md
  src/managers/ios/mod.rs
Due: format, clippy

refactor: extract ios discovery helpers
  AGENTS.md
  CLAUDE.md
  docs/refactoring-plan-2026-04-11.md
  src/managers/ios/discovery.rs
  src/managers/ios/mod.rs
Due: format, clippy

refactor: extract ios detail helpers
  docs/refactoring-plan-2026-04-11.md
  src/managers/ios/details.rs
  src/managers/ios/mod.rs
Due: format, clippy

refactor: extract ios lifecycle helpers
  AGENTS.md
  CLAUDE.md
  docs/refactoring-plan-2026-04-11.md
  src/managers/ios/lifecycle.rs
  src/managers/ios/mod.rs
Due: format, clippy

refactor: extract ui dialog rendering
  AGENTS.md
  CLAUDE.md
  docs/refactoring-plan-2026-04-11.md
  src/ui/dialogs.rs
  src/ui/mod.rs
  src/ui/render.rs
Due: format, clippy

Path conditions:
  format: any of: *.{rs,js,ts,md,json,yml,toml}
  clippy: any of: *.rs
